.nav {
	background-image: url("/assets/bgc.jpg");
	border-bottom: 2px solid transparent;
	border-top: 0px solid black;
	font-size: 20px;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 100;
}

a {
	color: white;
	font-weight: bold;
	margin-top: 10px;
	height: 50px;
	margin-bottom: 10px;
	margin-right: 10px;
	margin-left: 10px;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
	color: black;
	background-color: hotpink;
	border: 1px solid purple;
	border-radius: 0;
}

a.logo {
	margin: 0;
	height: 70px;
	padding: 0 !important;
}

a.logo:hover{
	border: 0px solid transparent !important;
	color: white;
	background-color: transparent !important;
}

a:hover{
	border: 1px solid hotpink !important;
	border-radius: 0 !important;
	color: white;
	background-color: purple !important;
}


.mid_title {
	text-align: center;
	font-weight: bold;
	margin-top: 5%;
	color: black;
	font-size: 50px;
}

.box {
	height: 250px;
	background-color: transparent;
	margin-bottom: 5%;
	margin-top: 3%;
}

.whitelabel{
	color: white;
}

.sidebar {
	position: fixed;
    height: 100%;
    width: 23%;
    background-image: url("/assets/bgc.jpg");
    border-right: 2px solid transparent;
    margin-top: 0 !important;
    z-index: 5;
    display: inline-block;
}

.hidden-side-image {
	height: 350px;
	margin-left: 1%;
	width: 200px;
	overflow: hidden;
	position: fixed;
}

.side-title-1, .side-title-2 {
	text-align: center;
	font-size: 20px;
	color: white;
}

.mid {
	background-color: transparent;
	height: auto;
	display: block;
}

.img-logo {
	/*height: 67px;*/
	height: 150px;
	width: 250px;
	border-left: 0px solid transparent;
}

html {
	background-image: url("/assets/Prem.png");
}

hr.star-primary {
  margin: 25px auto 30px;
  padding: 0;
  text-align: center;
  border: none;
  border-top: solid 5px black; 
}

.container {
	margin-top: 10%;
}

.sidebar-login {
	text-align: left;
}

#li_error.alert.alert-danger {
	width: 200px;
	text-align: center;
	margin-right: 0;
	margin-left: 30px;
	margin-bottom: 40px;
	margin-top: 10px;
}

.btn {
	border: 1px solid purple;
	background-color: hotpink;
}

.btn:hover {
	border: 1px solid hotpink;
	background-color: purple;
}

.El-Video {
	border: 2px solid purple;
}

#signup-but {
	margin-left: 32.5%;
}

.wrapper {
width: 800px;
margin: 30px auto;
color: white;
}

.watchmen {
	text-align: center;
	font-weight: bold;
	margin-top: 5%;
	color: black;
	font-size: 50px;
}

.stopwatchdigits {
	font-size: 100px;
	color: black;
	border: 1px solid black;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 140px;
}

.stopbut {
border: 1px solid purple;
background-color: hotpink;
color: white;
text-decoration:none;
cursor:pointer;
font-size: 1.8em;
font-family: bold;
padding:18px 10px;
width:180px;
margin: 10px;
margin-left: 55px;
outline: none;
}

.stopbut:hover {
border: 1px solid hotpink;
background-color: purple;
color: white;
}

#su_email{
	margin-left: 2%;
}

#su_fname {
	margin-right: 3.6%;
}

#su_username{
	margin-right: 5%;
} 

.modal-header, .modal-footer {
	background-color: pink;
	border: 1px solid purple;
}

.modal-body {
	border: 1px solid purple;
}

.modal-title {
	font-weight: bold;
}

.cancelay {
	color: white !important;
}